html, body
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh
  background: transparent
  overflow: hidden
  touch-action: none

#app
  width: inherit
  height: inherit
  overflow: hidden
  opacity: .02

#debug
  position: fixed
  left: 0
  right: 0
  bottom: 3px
  display: flex
  justify-content: space-between
  background: rgba(255, 255, 255, 0.8)